.menu img {
    width: 13%;
}

.home a {
    text-decoration: none;
    color: white;
    position: absolute;
    position: absolute;
    width: 2%;
    height: 4%;
    left: 15%;
    top: 6%;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    
}

.branco:hover {
    color: #32CD32;
}

.integrantes a {
    text-decoration: none;
    color: white;
    position: absolute;
    position: absolute;
    width: 2%;
    height: 4%;
    left: 25%;
    top: 6%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
}

.branco1:hover {
    color: #32CD32;
}

.img1 {
    transition: all 0.5s;
    cursor: pointer;
}

.img1:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);                         
}

.rotina a {
    text-decoration: none;
    color: white;
    position: absolute;
    position: absolute;
    width: 2%;
    height: 4%;
    left: 41%;
    top: 6%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
}

.branco2:hover {
    color: #32CD32;
}

.Text1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 20%;
    bottom: 0%;
    margin-bottom: 5%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 250%;
    line-height: 80%;
    text-align: center;
    color: white;

}

.Text1:hover {
    color: #32CD32;
}

.bia1{
 
    border-radius: 10%
}

.bia1:hover { 
    transition: all 0.8s; 
    cursor: pointer;
    } 
   
.bia1:hover { 
    -webkit-transform: scale(0.8);
    transform: scale(0.8); 
    }


.text2{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 20%;
    bottom: 0%;

    font-family: 'Arial';
    font-style: normal;
    text-align: center;
    color: #32CD32;

}

.text3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 170%;
    line-height: 150%;
    text-align: center;
    color: white;
    
}

.foto2{
    border-radius: 10%;
}

.text4{

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 170%;
    line-height: 150%;
    text-align: center;
    color: white;

}

.twiceeweeknd{

    border-radius: 10%;
}

.img1:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); 
}

.img1 {

    border-radius: 10%;

}

.img1:hover {

    -webkit-transform: scale(0.8);
    transform: scale(0.8); 

}

.container2 {
    margin-top: 3%;
    margin-bottom: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container2 a {
    align-content: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 160%;
    line-height: 57px;
    color: whitesmoke;
}

.container2 img {
    margin-left: 4%;
    width: 7%;
}

.branco3:hover {
    color: #32CD32;
}

.videos{

    border-radius: 10%;
}

.livros{
    border-radius: 10%;
}

#foto2 {
    border-radius: 10%;
    width: 60%;
}

#img7 {
    transition: all 0.5s;
    cursor: pointer;
}

#img7:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

#img7 {
    width: 13%;
}

.final {
    text-align: center;
    margin-top: 5%;
}

.container3 {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container img {
    border-radius: 20%;
}

.container {
    margin-top: 8%;
}

#bolinha {
    width: 5%;
}

.container3 {
    position: relative;
}
  
#bolinha {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 92%;
    margin-top: 38%;
}